<!-- templates/admin/password_change.html -->

{% extends "admin/base_site.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-header text-center bg-primary text-white">
                    <h3><i class="fas fa-key"></i> تغییر پسورد</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                        <!-- فرم تغییر پسورد -->
                        <div class="mb-3">
                            {{ form.as_p }}
                        </div>

                        <button type="submit" class="btn btn-success btn-block">
                            <i class="fas fa-save"></i> تغییر پسورد
                        </button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'admin:index' %}" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> بازگشت به داشبورد
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
