{% extends "base/base.html" %}

{% block content %}
<div class="container mt-5 animate__animated animate__fadeIn">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-body">
                    <h2 class="card-title"><i class="fas fa-check-circle text-success"></i> گذرواژه شما با موفقیت تغییر کرد</h2>
                    <p class="card-text">گذرواژه شما با موفقیت تغییر کرد. اکنون می‌توانید با گذرواژه جدید وارد شوید.</p>
                    <a href="{% url 'dashboard' %}" class="btn btn-primary"><i class="fas fa-arrow-left"></i> بازگشت به داشبورد</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}